@import '_colors.scss';

.linechart-circle:hover{
  cursor: pointer;
  fill: $cyan;
}

.node:hover, .bar:hover{
  cursor: pointer;
} 

div.tooltip {   
  position: absolute;           
  text-align: left;           
  width: auto;                  
  height: auto;                 
  padding: 8px;             
  font: 12px sans-serif;        
  background: black;   
  border-radius: 0px;           
  pointer-events: none;  
  color: white; 
  span{
    font-size: 1.5em;
  }      
}

span.color-text{
  &:first-child{
    color: $cyan;
  }
  &:nth-child(2){
    color: $mustard;
  }
  &:last-child{
    color: $navy;
  }
}


.bubble-label {
  font-size: 0.5em;
  fill: $white;
}

.bubblechart {
  padding-left: 50px;
}

.genre-total {
  width: 700px;
  text-align: center;
  padding-left: 50px;
  margin-top: -50px;
  span{
    font-size: 2em;
  }
}

