.linechart-circle:hover {
  cursor: pointer;
  fill: #3ebdb2; }

.node:hover, .bar:hover {
  cursor: pointer; }

div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 8px;
  font: 12px sans-serif;
  background: black;
  border-radius: 0px;
  pointer-events: none;
  color: white; }
  div.tooltip span {
    font-size: 1.5em; }

span.color-text:first-child {
  color: #3ebdb2; }

span.color-text:nth-child(2) {
  color: #b49a3d; }

span.color-text:last-child {
  color: #023460; }

.bubble-label {
  font-size: 0.5em;
  fill: #fff; }

.bubblechart {
  padding-left: 50px; }

.content {
  padding: 5% 5%; }

.home {
  height: 100vh;
  padding-top: calc(90vh/3);
  text-align: center; }
