.linechart-circle:hover {
  cursor: pointer;
  fill: #3ebdb2; }

.node:hover {
  cursor: pointer; }

div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 8px;
  font: 12px sans-serif;
  background: black;
  border-radius: 0px;
  pointer-events: none;
  color: white; }
  div.tooltip span {
    font-size: 1.5em; }

.bubble-label {
  font-size: 0.5em;
  fill: #fff; }

.content {
  height: 100vh;
  padding: 15% 0; }

.home {
  float: right;
  padding-top: 15%; }
